<footer id="colophon" class="site-footer container clearfix" role="contentinfo">
    <div id="footer-text" class="site-info">
        <span class="credit-link">
            <a href="{{ "" | relLangURL }}">System Design by Abhay</a>
            Copyright © 2026
        </span>
        <span class="footer-rss">
            <a href="/index.xml" title="RSS Feed" target="_blank" rel="noopener">
                <i class="fa-solid fa-rss"></i> RSS Feed
            </a>
        </span>
    </div>
</footer>
